
@using Microsoft.EntityFrameworkCore
@using EternalBlue.Ifs
@using System.Reflection.Metadata.Ecma335
@using EternalBlue.Data
@model CandidatesPageViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>Hi!</h1>
<p>My name is Anton. Here is my solution for IFS coding task</p>
<p>I hope you would enjoy trying and testing it</p>

You could find some info about me using the <a href="https://www.linkedin.com/in/miroshkin-anton/" target="_blank">Linked In link</a>



@*
        I found the task using link https://app.ifs.aero/EternalBlue

    The hidden password was:
    84 104 101 32 99 111 109 112 117 116 101 114 32 119 97 115 32 98 111 114 110 32 116 111 32 115 111 108 118 101 32 112 114 111 98 108 101 109 115 32 116 104 97 116 32 100 105 100 32 110 111 116 32 101 120 105 115 116 32 98 101 102 111 114 101

    I decrypted it online using https://v2.cryptii.com/decimal/text and the result string was:
    The computer was born to solve problems that did not exist before

    Then I found the task on
    https://app.ifs.aero/EternalBlue/Task.md
*@
